body {
    background-image: url('imgs/rajko.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.div-table {
    position: fixed;
    display: table;
    width: auto;
    height: 90%;
    border: 1px solid;
    border-spacing: 1px;
    align-content: center;
    background-color: crimson;
    left: 20%;
}
.div-table-row {
    display: table-row;
    width: auto;
    height: 16.67%;
    clear: none;
    border: 10px solid;
}

.color-row {
    display: table-row;
    height: 94px;
    width: 100%;
    border: 3px solid blueviolet;
    clear: both;
    position: relative;
}

.div-table-col {
    float: left;
    width: 120px;
    height: 100%;
    display: block;	
    margin: 2px;
    background-color: white;
    
}


.color-field {
    float: left;
    display: block;
    margin: auto;
    position: relative;
    height: inherit;
    width: 81.35px;
}

#slike {
    position: absolute;
    top: 0;
    margin: 2px;
    width: 10px;

}

td img {
    width: 100%;
    height: auto;
    display: block;
}
div img {
    border: 2px solid;
    width: 110px;
    height: 80px;
    display: block;	
    margin: 3px;

}
button {
    float: right;
}

.boje {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    top: 30px;
    position: inherit;
}

#undoBtn {
    width: 1000%;
    height: 100%;
    float: left;
    position: relative;
}

#res {
    float: right;
    width: 25%;
    height: 90%;
    position: fixed;
    top: 10px;
    right: 20px;
    border: 2px solid red;
    border-radius: 10%;
    background-color: darkgrey;
}
#progress {
    width: 99%; 
    height: 30px;
    display: block;
    background-color: gray;
    position: absolute;
    bottom: 1%;
}

#bar {
    width: 0%;
    height: inherit;
    background-color: midnightblue;

}

#startButton {
    left: 10%;
    position: fixed;     
    width: 100px;
    height: 25px;
}